.signup-container {
    width:50%;
    height: 50%;
    padding: 1rem;
    border: 2px solid gray;    
    border-radius: 2rem;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}


.signup-container label {
  width: 120px;  
  text-align: left;
  margin-bottom: 4px;
  margin-top: 0.2rem;
}

.signup-container input {
  border-radius: 2rem ;
  padding: 0.2rem;
  border: none;
}