.board {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  
    @media (max-width: 430px) {
   .board {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  
    
  }