.keyboard {
  width: 500px;
  height: auto;
  margin-top: 40px;
}

.line1,
.line2,
.line3 {
  display: flex;
  justify-content: center;
  margin: 3px 0;
}

.key {
  width: 45px;
  height: 60px;
  margin: 3px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 14px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.key.big {
  width: 80px;
}

.key.disabled {
  background-color: #3a393c;
}

@media (max-width: 430px) {
  .keyboard {
    width: 100%;
    max-width: 330px;
  }

  .key {
    width: 32px;
    height: 50px;
    font-size: 12px;
  }

  .key.big {
    width: 52px;
    text-align: center;
    padding-inline: 3px;
  }

  .line3 {
    gap: 2px;
    align-items: center;
  }
}
