.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
    width: 100%; 
  }
  
  .progress-bar {
    width: 80%;
    background-color: #f0f0f0;
    height: 10px; 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
   */
  
  