nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  font-size: 2em;
}

.nav-buttons {
  display: flex;
  position: absolute;
  right: 4em;
  gap: 15px;
}

#kbc {
  color: #b49f39;
}

#kbcwin {
  color: #528d4e;
}

.animate__bounceIn {
  display: flex;
}

.in-progress {
  font-size: 5px;
  background-color: #cc0000;
  position: absolute;
  color: white;
  left: 0;
}

.icons svg {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

  span {
    margin: 10px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

@media (max-width: 430px) {
  nav h1 {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 24px;
  }

  nav p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
  }

  .nav-buttons {
    display: flex;
    right: 0;
    gap: 2px;
  }

  span {
    margin: 6px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .icons svg {
    margin-left: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    color: white;
    border: none;
    outline: none;
  }
}
