.tooltip-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}


.tooltip {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);

  background: #272727;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;

  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, transform 0.15s ease;
}


.tooltip::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #272727;
}

.tooltip-wrapper:hover .tooltip,
.tooltip-wrapper:focus-within .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(2px);
}

.icons {
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (hover: none) and (pointer: coarse) {
  .tooltip {
    display: none;
  }
}