.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}


.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}


/*  */
/*  style for lifeline buttons */
/*  */



/*  */
/* style for rules modal  */
/*  */

.modal,.overlay{
  width:100vw;
  height: 100vh;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: fixed;
}

.overlay{
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.closebtn{
  padding: 20px;
  font-size: 20px;
  background-color:#121213;
  border: none;
  color: white;
  position: absolute;
  right:0;
  top: 0;
  border-radius: 10px;
}

/*  */
/* CSS FOR STATATICS MODAL */
/*  */


.stats{
  background-color:#121213;
  position: absolute;
  width:20%;
  height:80vh;
  line-height:1.4;
  padding:20px;
  max-width: 600px;
  min-width: 300px;
 font-size: 8px;
 border-radius: 10px;
}

#dis{
  background-color: #3a393c;
  pointer-events: none;  
}


#days-lose{
  background-color: #3a393c;
  color:white
}




/*  */
/* days progress */
/*  */

.circle {
  width: 90%;
  height: 2em;
  line-height: 25px;
  background-color: #3a393c;
  color:white;
  margin:1em;
  border: 2px solid transparent;
  cursor: pointer;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
 
  }
  
  .stepWrapper {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  }
  
  .stepBlock .circleWrapper {
  padding: 0px 20px;
  }
  
  .selected .circle{
    background-color: #528d4e;
    color: white;
  
  }
  

  .stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  opacity: 0.6;
  }
   

  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 3px;
  }
  
  .stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 2px;
    opacity: 0.6;
  }
/*  */
 /* scratch card */
 /*  */

 .scratch-reward-card {
  width: 300px;
  height: 150px;
  background-color: #b49f39;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 50%;
}

.scratch-area {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.scratch-area.scratched {
  background-color:#528d4e;
}

.scratch-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #888;
}

.revealed-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

@media (max-width: 430px) { 
   
   .board{
    width:250px;
    height:350px;
   }
  
}



/* progress dummy */

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
  width: 100%; /* Adjust the width as per your preference */
}

.progress-bar {
  width: 80%;
  background-color: #f0f0f0;
  height: 10px; /* Adjust the height as per your preference */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


